@import "tailwindcss";

@theme {
  --color-blue: #004aad;
  --color-orange: #eb8130;
  --color-light: #fbfdff;
  --color-darkBlue: #003276;
}
html {
  scroll-behavior: smooth;
}
body {
  @apply bg-light min-h-screen;
}
.icon {
  @apply bg-blue p-2 2xl:p-4 rounded-full;
}
.text-info {
  @apply flex-col gap-1 hidden md:flex;
}
.text-info h6 {
  @apply text-blue font-semibold text-lg;
}
.text-info p {
  @apply text-orange font-semibold text-sm;
}
.menu-item {
  @apply text-blue font-semibold text-sm hover:text-orange cursor-pointer;
}
.numbers {
  @apply flex flex-col gap-1;
}
.numbers strong {
  @apply text-orange font-bold text-3xl text-center 2xl:text-5xl;
}
.numbers small {
  @apply text-blue font-semibold text-sm text-center 2xl:text-lg;
}
.title-section {
  @apply text-blue text-4xl font-bold 2xl:text-5xl;
}
.swiper-pagination {
  position: relative !important;
  margin-top: 16px;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border: 2px solid #f97316;
  border-radius: 9999px;
  background: transparent;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: #f97316 !important;
}
.social-glass {
  @apply flex items-center justify-center w-10 h-10 rounded-full 
  bg-white/10 backdrop-blur-sm border border-white/20 
  shadow-sm transition-transform duration-200 hover:scale-110;
}

/* Inputs (clean e suaves) */
.glass-input {
  @apply bg-white/10 text-light placeholder:text-white/60 
  rounded-lg px-3 py-2 backdrop-blur-sm border border-white/20 
  focus:outline-none focus:ring-2 focus:ring-orange/60;
}
.footer-menu-item {
  @apply relative inline-block transition-all;
}
.footer-menu-item::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-orange);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}
.footer-menu-item:hover::after {
  transform: scaleX(1);
}